Repository z-shell/wiki, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📝, dependencies 📦, enhancement ✨, maintenance 📈, i18n 🌐, annex 🌀, package 📦, plugin ⚙️, ci 🤖

[:sparkles:] Pages Migration
  .github/ISSUE_TEMPLATE/config.yml
  .github/README.fr.md
  .github/README.md
  .github/workflows/ci-perf.yml
  blog/2022/01/15/swiss_army_knife_for_zsh.md
  docusaurus.config.js
  i18n/ja/code.json
  package.json
  pnpm-lock.yaml
  src/pages/legal/PRIVACY.md
  static/_headers
  static/manifest.json
Labels: dependencies 📦, enhancement ✨, maintenance 📈, i18n 🌐, ci 🤖

Update README.md
  .github/README.md
Labels: maintenance 📈

Update 2_meta_plugins.md
  ecosystem/annexes/2_meta_plugins.md
Labels: documentation 📝, annex 🌀

[annex]: Update/Lint meta-plugins docs
  ecosystem/annexes/2_meta_plugins.md
Labels: documentation 📝, annex 🌀

Update extensions.json
  .vscode/extensions.json
Labels: none

[algolia]: Completed domain update/migration #2
  .trunk/trunk.yaml
  docusaurus.config.js
Labels: maintenance 📈

[algolia]: API token update
  docusaurus.config.js
Labels: maintenance 📈

Update extensions.json (#4)
  .vscode/extensions.json
Labels: none

modified: .eslintrc.yml modified: .husky/pre-commit modified: .prettierrc modified: package.json modified: pnpm-lock.yaml
  .eslintrc.yml
  .husky/pre-commit
  .prettierrc
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈

modified: docs/intro.md modified: docusaurus.config.js
  docs/intro.md
  docusaurus.config.js
Labels: documentation 📝, maintenance 📈

New Crowdin translations by Github Action (#6)
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/lt/docusaurus-plugin-content-docs/current/intro.md
  i18n/pl/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

remove French translation of readme
  .github/README.md
Labels: maintenance 📈

Delete README.fr.md
  .github/README.fr.md
Labels: maintenance 📈

remove French translation of readme (#7)
  .github/README.md
Labels: maintenance 📈

Delete README.fr.md (#8)
  .github/README.fr.md
Labels: maintenance 📈

Update CODEOWNERS
  .github/CODEOWNERS
Labels: maintenance 📈

New Crowdin translations by Github Action (#10)
  i18n/fr/code.json
Labels: i18n 🌐

[refactor]: Update theme and add worker
  .prettierignore
  .stylelintrc.yml
  docusaurus.config.js
  functions/_worker.js
  package.json
  pnpm-lock.yaml
  src/components/AsciinemaPlayer/index.tsx
  src/components/HomeFeatures/index.tsx
  src/components/HomeFeatures/styles.module.css
  src/components/Spinner/index.tsx
  src/pages/index.module.css
  src/pages/index.tsx
  tsconfig.json
Labels: dependencies 📦, enhancement ✨, maintenance 📈

[:recycle:]: Update theme and add worker
  .prettierignore
  .stylelintrc.yml
  docusaurus.config.js
  functions/_worker.js
  package.json
  pnpm-lock.yaml
  src/components/AsciinemaPlayer/index.tsx
  src/components/HomeFeatures/index.tsx
  src/components/HomeFeatures/styles.module.css
  src/components/Spinner/index.tsx
  src/pages/index.module.css
  src/pages/index.tsx
  tsconfig.json
Labels: dependencies 📦, enhancement ✨, maintenance 📈

[:recycle:]: Minor fix
  functions/index.ts
  functions/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/pages/index.tsx
Labels: dependencies 📦, enhancement ✨

[:recycle:]: Pin & Lint
  functions/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/pages/index.module.css
  tsconfig.json
Labels: dependencies 📦, enhancement ✨, maintenance 📈

[:sparkles: crowdin]: Update files
  community/01_intro.md
  ecosystem/intro.md
  i18n/de/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-theme-classic/footer.json
  i18n/fr/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-theme-classic/footer.json
  i18n/ja/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-theme-classic/footer.json
  i18n/ko/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/lt/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/lt/docusaurus-plugin-content-docs/current/intro.md
  i18n/pl/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/pl/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-theme-classic/footer.json
  i18n/zh-Hant/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hant/docusaurus-theme-classic/footer.json
  src/pages/index.tsx
Labels: documentation 📝, enhancement ✨, i18n 🌐

New Crowdin translations by Github Action (#12)
  i18n/de/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/es/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/fr/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ja/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ko/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/lt/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/pl/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ru/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs-community/current/01_intro.md
Labels: i18n 🌐

[:sparkles: crowdin]: Sync
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-theme-classic/footer.json
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-theme-classic/footer.json
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-theme-classic/footer.json
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/lt/docusaurus-plugin-content-docs/current/intro.md
  i18n/pl/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-theme-classic/footer.json
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

New Crowdin translations by Github Action (#14)
  i18n/fr/code.json
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

[VIP]
  docusaurus.config.js
  src/css/custom.css
  static/favicon.ico
  static/r2/assets/webfonts/JetBrainsMono-Regular.ttf
  static/r2/assets/webfonts/JetBrainsMono-SemiBold.ttf
Labels: enhancement ✨, maintenance 📈

New Crowdin translations by Github Action (#17)
  i18n/fr/docusaurus-plugin-content-docs-community/current/01_intro.md
Labels: i18n 🌐

[:rocket:]: Misc/Assets modified: docusaurus.config.js modified: src/css/custom.css
  docusaurus.config.js
  src/css/custom.css
Labels: enhancement ✨, maintenance 📈

[Misc]: Lockfile update modified: pnpm-lock.yaml
  pnpm-lock.yaml
Labels: dependencies 📦

modified: static/_headers
  static/_headers
Labels: none

[:Rocket:]: JetBrains Mono modified: src/css/custom.css
  src/css/custom.css
Labels: enhancement ✨

[CDN refactor]: Match paths cross device. modified: docusaurus.config.js modified: pnpm-lock.yaml modified: src/css/custom.css modified: static/_headers
  docusaurus.config.js
  pnpm-lock.yaml
  src/css/custom.css
  static/_headers
  static/r2/fa/css/all.css
  static/r2/fa/css/all.min.css
  static/r2/fa/css/brands.css
  static/r2/fa/css/brands.min.css
  static/r2/fa/css/fontawesome.css
  static/r2/fa/css/fontawesome.min.css
  static/r2/fa/css/regular.css
  static/r2/fa/css/regular.min.css
  static/r2/fa/css/solid.css
  static/r2/fa/css/solid.min.css
  static/r2/fa/css/svg-with-js.css
  static/r2/fa/css/svg-with-js.min.css
  static/r2/fa/js/all.js
  static/r2/fa/js/all.min.js
  static/r2/fa/js/brands.js
  static/r2/fa/js/brands.min.js
  static/r2/fa/js/conflict-detection.js
  static/r2/fa/js/conflict-detection.min.js
  static/r2/fa/js/crowdjet.js
  static/r2/fa/js/fontawesome.js
  static/r2/fa/js/fontawesome.min.js
  static/r2/fa/js/regular.js
  static/r2/fa/js/regular.min.js
  static/r2/fa/js/solid.js
  static/r2/fa/js/solid.min.js
  static/r2/fa/webfonts/JetBrainsMono-Regular.ttf
  static/r2/fa/webfonts/JetBrainsMono-SemiBold.ttf
  static/r2/fa/webfonts/fa-brands-400.ttf
  static/r2/fa/webfonts/fa-brands-400.woff2
  static/r2/fa/webfonts/fa-regular-400.ttf
  static/r2/fa/webfonts/fa-regular-400.woff2
  static/r2/fa/webfonts/fa-solid-900.ttf
  static/r2/fa/webfonts/fa-solid-900.woff2
  static/r2/fa/webfonts/fa-v4compatibility.ttf
  static/r2/fa/webfonts/fa-v4compatibility.woff2
Labels: dependencies 📦, enhancement ✨, maintenance 📈

modified: docusaurus.config.js modified: package.json modified: pnpm-lock.yaml
  docusaurus.config.js
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈

deleted: static/r2/fa/js/crowdjet.js
  static/r2/fa/js/crowdjet.js
Labels: none

Update 02_customization.md
  docs/guides/02_customization.md
Labels: documentation 📝

modified: src/css/custom.css
  src/css/custom.css
Labels: enhancement ✨

modified: src/css/custom.css
  src/css/custom.css
Labels: enhancement ✨

[:🤠:] Assets by CF workers modified: docusaurus.config.js modified: pnpm-lock.yaml modified: src/css/custom.css
  docusaurus.config.js
  pnpm-lock.yaml
  src/css/custom.css
Labels: dependencies 📦, enhancement ✨, maintenance 📈

modified: docusaurus.config.js new file: functions/graphql.ts deleted: functions/index.ts modified: package.json modified: pnpm-lock.yaml
  docusaurus.config.js
  functions/graphql.ts
  functions/index.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, enhancement ✨, maintenance 📈

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

.github/labeler.yml:

documentation 📝:
  - "community/**"
  - "ecosystem/**"
  - "docs/**"
dependencies 📦:
  - "package.json"
  - "pnpm-lock.yaml"
  - "yarn.lock"
enhancement ✨:
  - "functions/**"
  - "src/**"
  - "lib/**"
maintenance 📈:
  - ".github/CODEOWNERS"
  - ".github/*.md"
  - ".github/*.yml"
  - ".github/*.json"
  - ".vscode"
  - "tsconfig.json"
  - "babel.config.js"
  - "docusaurus.config.js"
  - ".all-contributorsrc"
  - "crowdin.yml"
  - "netlify.toml"
  - ".prettierrc"
  - ".prettierignore"
  - ".markdownlint.json"
  - ".deepsource.toml"
  - ".trunk/*.yaml"
  - ".trunk/*.json"
  - ".trunk/*rc"
i18n 🌐:
  - "i18n/**"
annex 🌀:
  - "ecosystem/annexes/**/*.md"
  - "i18n/**/docusaurus-plugin-content-ecosystem/**/annexes/**/*.md"
package 📦:
  - "ecosystem/packages/**/*.md"
  - "i18n/**/docusaurus-plugin-content-ecosystem/**/packages/**/*.md"
plugin ⚙️:
  - "ecosystem/plugins/**.md"
  - "i18n/**/docusaurus-plugin-content-ecosystem/**/plugins/**/*.md"
ci 🤖:
  - ".github/workflows/*.yml"
