Repository z-shell/wiki, pull requests merged in 2022-09, with the labels that each got.

#128 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
Labels: i18n 🌐

#134 Fix link to zsh completions for tealdeer
  community/gallery/collection/02_completions.md
Labels: documentation 📝

#139 New Crowdin translations by Github Action
  i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  i18n/zh-Hans/docusaurus-theme-classic/footer.json
  i18n/zh-Hans/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#141 New Crowdin translations by Github Action
  i18n/fr/docusaurus-theme-classic/navbar.json
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/_category_.json
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/_category_.json
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/packages/_category_.json
  i18n/zh-Hans/docusaurus-theme-classic/footer.json
Labels: i18n 🌐

#142 New Crowdin translations by Github Action
  i18n/zh-Hans/docusaurus-theme-classic/footer.json
  i18n/zh-Hans/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#145 New Crowdin translations by Github Action
  i18n/zh-Hans/docusaurus-plugin-content-blog/options.json
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/_category_.json
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/_category_.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/_category_.json
Labels: i18n 🌐

#147 New Crowdin translations by Github Action
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
Labels: i18n 🌐

#149 New Crowdin translations by Github Action
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-theme-classic/footer.json
Labels: i18n 🌐, ci 🤖

#152 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/index.md
  i18n/es/docusaurus-plugin-content-docs/current/index.md
  i18n/fr/docusaurus-plugin-content-docs/current/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/index.md
  i18n/ko/docusaurus-plugin-content-docs/current/index.md
  i18n/pl/docusaurus-plugin-content-docs/current/index.md
  i18n/ru/docusaurus-plugin-content-docs/current/index.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/index.md
Labels: i18n 🌐

#153 Fix link to ogham/exa
  community/gallery/collection/03_programs.md
Labels: documentation 📝

#165 New Crowdin translations by Github Action
  i18n/zh-Hans/code.json
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/6_submods.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
Labels: i18n 🌐

#167 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
Labels: i18n 🌐

#168 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
Labels: i18n 🌐

#169 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
Labels: i18n 🌐

#179 New Crowdin translations by Github Action
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#186 New Crowdin translations by Github Action
  i18n/ja/code.json
Labels: i18n 🌐

#189 New Crowdin translations by Github Action
  i18n/ja/docusaurus-plugin-content-docs-community/current/index.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current.json
Labels: i18n 🌐
