Repository z-shell/wiki, pull requests merged in 2022-07, with the labels that each got.

#4 Update extensions.json
  .vscode/extensions.json
Labels: triage 📑

#6 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/lt/docusaurus-plugin-content-docs/current/intro.md
  i18n/pl/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#7 remove French translation of readme
  .github/README.md
Labels: maintenance 📈

#8 Delete README.fr.md
  .github/README.fr.md
Labels: maintenance 📈

#10 New Crowdin translations by Github Action
  i18n/fr/code.json
Labels: i18n 🌐

#12 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/es/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/fr/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ja/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ko/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/lt/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/pl/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ru/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs-community/current/01_intro.md
Labels: i18n 🌐

#14 New Crowdin translations by Github Action
  i18n/fr/code.json
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#17 New Crowdin translations by Github Action
  i18n/fr/docusaurus-plugin-content-docs-community/current/01_intro.md
Labels: i18n 🌐

#22 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/02_for.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs/current/zi_code.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/02_customization.md
Labels: i18n 🌐

#25 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/es/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/fr/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ja/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ko/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/lt/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/pl/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/ru/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs-community/current/01_intro.md
Labels: i18n 🌐

#27 New Crowdin translations by Github Action
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/_category_.json
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/20_test.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/3_default_ice.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/6_submods.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/packages/01_overview.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/02_for.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/10_bindkey.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/_category_.json
Labels: i18n 🌐

#28 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/lt/docusaurus-plugin-content-docs/current/intro.md
  i18n/pl/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#29 New Crowdin translations by Github Action
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
Labels: i18n 🌐

#31 New Crowdin translations by Github Action
  i18n/de/code.json
  i18n/es/code.json
  i18n/fr/code.json
  i18n/ja/code.json
  i18n/ko/code.json
  i18n/pl/code.json
  i18n/ru/code.json
  i18n/zh-Hans/code.json
  i18n/zh-Hant/code.json
Labels: i18n 🌐

#32 New Crowdin translations by Github Action
  i18n/de/code.json
  i18n/de/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/es/code.json
  i18n/es/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/fr/code.json
  i18n/fr/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ko/code.json
  i18n/ko/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/pl/code.json
  i18n/pl/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ru/code.json
  i18n/ru/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/zh-Hans/code.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/zh-Hant/code.json
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/02_customization.md
Labels: i18n 🌐

#35 New Crowdin translations by Github Action
  i18n/fr/code.json
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/_category_.json
  i18n/fr/docusaurus-theme-classic/footer.json
Labels: i18n 🌐

#37 New Crowdin translations by Github Action
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/_category_.json
Labels: i18n 🌐

#41 New Crowdin translations by Github Action
  i18n/es/docusaurus-plugin-content-docs-community/current.json
  i18n/es/docusaurus-plugin-content-docs/current.json
  i18n/fr/docusaurus-plugin-content-docs-community/current.json
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current.json
  i18n/fr/docusaurus-plugin-content-docs/current/zi_code.md
  i18n/fr/docusaurus-theme-classic/footer.json
  i18n/ja/docusaurus-plugin-content-docs-community/current.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
Labels: i18n 🌐
