Repository z-shell/wiki, pull requests merged in 2022-08, with the labels that each got.

#46 New Crowdin translations by Github Action
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/20_test.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/3_default_ice.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/4_patch-dl.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/6_submods.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/10_bindkey.md
Labels: i18n 🌐

#47 Add search bar on not found page
  package.json
  pnpm-lock.yaml
  src/theme/NotFound.d.ts
  src/theme/NotFound.js
Labels: dependencies 📦, enhancement ✨

#51 New Crowdin translations by Github Action
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#52 New Crowdin translations by Github Action
  i18n/fr/code.json
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/4_patch-dl.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/02_for.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/10_bindkey.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#53 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/annexes/0_overview.md
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/annexes/0_overview.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/0_overview.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/annexes/0_overview.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/annexes/0_overview.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/annexes/0_overview.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/annexes/0_overview.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/0_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
Labels: i18n 🌐

#54 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
Labels: i18n 🌐

#55 New Crowdin translations by Github Action
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/3_default_ice.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/6_submods.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/02_for.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/10_bindkey.md
Labels: i18n 🌐

#57 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/pl/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#60 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
Labels: i18n 🌐

#61 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/es/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/fr/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ja/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ko/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/pl/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ru/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
Labels: i18n 🌐

#63 Correct rust completion
  community/gallery/collection/01_2_completions.md
Labels: documentation 📝, fix ⚡

#66 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/packages/02_packages.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
Labels: i18n 🌐

#71 docs: add zoxide to the gallerie of invocation > plugins (#70)
  community/gallery/collection/01_6_plugins.md
Labels: documentation 📝

#72 docs: add zoxide to the gallerie of invocation > programs (#69)
  community/gallery/collection/01_3_programs.md
Labels: documentation 📝

#96 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/02_customization.md
Labels: i18n 🌐

#101 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/es/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/fr/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ja/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ko/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/pl/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ru/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
Labels: i18n 🌐

#102 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#104 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#105 New Crowdin translations by Github Action
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#107 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/packages/02_usage.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/pl/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/02_customization.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#113 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/annexes/7_unscope.md
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/annexes/7_unscope.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/7_unscope.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/annexes/7_unscope.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/annexes/7_unscope.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/annexes/7_unscope.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/annexes/7_unscope.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/7_unscope.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
Labels: i18n 🌐

#115 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/1_bin_gem_node.md
Labels: i18n 🌐

#121 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current/annexes/2_meta_plugins.md
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current/annexes/2_meta_plugins.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current/annexes/2_meta_plugins.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/annexes/2_meta_plugins.md
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current/annexes/2_meta_plugins.md
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current/annexes/2_meta_plugins.md
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current/annexes/2_meta_plugins.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/2_meta_plugins.md
Labels: i18n 🌐

#122 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-community/current/03_zsh_native_scripting_handbook.md
  i18n/es/docusaurus-plugin-content-docs-community/current/03_zsh_native_scripting_handbook.md
  i18n/fr/docusaurus-plugin-content-docs-community/current/03_zsh_native_scripting_handbook.md
  i18n/ja/docusaurus-plugin-content-docs-community/current/03_zsh_native_scripting_handbook.md
  i18n/ko/docusaurus-plugin-content-docs-community/current/03_zsh_native_scripting_handbook.md
  i18n/pl/docusaurus-plugin-content-docs-community/current/03_zsh_native_scripting_handbook.md
  i18n/ru/docusaurus-plugin-content-docs-community/current/03_zsh_native_scripting_handbook.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/03_zsh_native_scripting_handbook.md
Labels: i18n 🌐

#126 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
Labels: i18n 🌐
