Repository z-shell/wiki, pull requests merged in 2023-03, with the labels that each got.

#393 New Crowdin translations by GitHub Action
  i18n/zh-Hans/code.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
Labels: i18n 🌐

#412 ci: merge group
  .github/workflows/trunk-check.yml
Labels: ci 🤖

#402 Fix omz plugin name osx -> macos
  community/gallery/collection/04_snippets.mdx
Labels: documentation 📝

#406 maintenance: links update
  ecosystem/plugins/f-sy-h.mdx
Labels: documentation 📝

#413 New Crowdin translations by GitHub Action
  i18n/ja/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.mdx
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current/annexes/5_readurl.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/guides/01_commands.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_customization.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/guides/03_benchmark.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/01_standard.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/02_for.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/03_ice_modifiers.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/index.mdx
  i18n/ja/docusaurus-plugin-content-docs/current/zi_code.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current/annexes/5_readurl.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/03_migration.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/01_commands.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/02_customization.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/03_benchmark.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/01_standard.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/02_for.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/03_ice_modifiers.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/index.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/zi_code.mdx
Labels: i18n 🌐
