Repository z-shell/wiki, pull requests merged in 2023-12, with the labels that each got.

#527 Update path to rg completions.
  community/gallery/collection/02_completions.mdx
Labels: maintenance 📈

#535 modified: package.json
  .github/README.md
  .trunk/configs/.stylelintrc.yml
  .trunk/trunk.yaml
  package.json
  pnpm-lock.yaml
  src/components/APITable/styles.module.css
  src/components/HomeBanner/styles.module.css
  src/components/ImgShow/styles.module.css
  src/css/custom.css
Labels: dependencies 📦

#538 Update 02_zsh_plugin_standard.mdx
  community/02_zsh_plugin_standard.mdx
  package.json
  pnpm-lock.yaml
Labels: documentation 📝

#539 New Crowdin translations by GitHub Action
  i18n/ja/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.mdx
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.mdx
Labels: i18n 🌐
