Repository z-shell/wiki, pull requests merged in 2023-10, with the labels that each got.

#492 Replace zsh-exa with zsh-eza
  community/gallery/collection/06_plugins.mdx
Labels: documentation 📝

#494 Update trunk-check.yml
  .github/workflows/trunk-check.yml
  .github/workflows/trunk-upgrade.yml
Labels: ci 🤖

#499 Update trunk-check.yml
  .github/workflows/rclone-action.yml
  .github/workflows/trunk-check.yml
  .trunk/trunk.yaml
Labels: maintenance 📈, ci 🤖

#504 Dependencies
  .trunk/trunk.yaml
  i18n/en/code.json
  i18n/en/docusaurus-theme-classic/navbar.json
  package.json
  pnpm-lock.yaml
  src/components/HomeFeatures/index.tsx
  src/components/Player/asciinema-player.d.ts
Labels: dependencies 📦, enhancement ✨, maintenance 📈, i18n 🌐
